* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main {
    width: 85%;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.form-container {
    width: 100%;
    padding: 3em;    
}

.form-window {
    width: 50%;
    margin: 0 auto;
    padding: 2em;
    border: 3px solid rgba(67, 78, 228, 0.745);
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 19px -4px rgba(67, 78, 228, 0.745); 
    box-shadow: 0px 0px 19px -4px rgba(67, 78, 228, 0.745);
    text-align: center;
    color:  rgba(67, 78, 228, 1);
}

.form-window h2 {
    margin-bottom: 2em;
}

.form__btns-block {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.btn-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.form-window button, .form-contaimer button  {
    display: block;
    background-color: rgba(67, 78, 228, 0.745);
    color: snow;
    border: 1px solid  rgba(67, 78, 228, 0.407);    
    transition: transform 0.2s  ease;
    width: 30%;
}

.form-window input[type='submit'] {
    display: block;
    background-color: rgba(67, 78, 228, 0.745);
    color: snow;
    border: 1px solid  rgba(67, 78, 228, 0.407);    
    transition: transform 0.2s  ease;
    width: 30%;
    padding: 0.5em 1em;
}

.form-window button:hover,.form-container button:hover {
    transform: scale(104%);
}

.form-window a {
    text-decoration: none;
    display: block;
    width: 100%; height: 100%;
    color: inherit;
    padding: 0.5em;   
    text-align: center;
    min-width: 60px; 
}

.form-window__input-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-window__input-block input {
    width: 46%;
    border: 1px solid  rgba(67, 78, 228, 0.326);
    padding: 0.5em 1em;
    font-size: 16px;
    margin-bottom: 1em;
    border-radius: 2px;
}

.form-window__input-block input:focus {
    outline: 1px solid  rgba(67, 78, 228, 1); 
}

.form-container__block button {
    padding: 0.5em;
    font-size: 16px;
}

input[type="email"] {
    width: 100%;
}

input[type="submit"] {
    cursor: pointer;
}

.form-window {
    position: relative;
}

.error-window { 
    position: absolute;
    width: 250px; height: 200px;
    top: 10px; right: -270px;
    padding: 1em;
    border: 3px solid rgba(67, 78, 228, 0.745);
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 19px -4px rgba(67, 78, 228, 0.745); 
    box-shadow: 0px 0px 19px -4px rgba(67, 78, 228, 0.745);
    text-align: left;
    display: none;
    transition: display 0.3s ease;
}

.error-window p {
    color: rgba(215, 18, 18, 0.895);
    font-size: 12px;
    font-style: italic;
    margin-bottom: 2em;
}

#emailConn {
    width: 46% !important;
}




