* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 5em;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin: 2em 0;
}

.item {
    width: 20%;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid rgba(174, 162, 162, 0.762);
    border-radius: 3px;
}

p {
    margin: 0.5em 0;
}

p p {
    margin: 0.2em;
}

p span:nth-of-type(1) {
    font-weight: 700;
}