* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2em 5em;
}

.btns {
    display: flex;
    align-items: center;
}

.main-container, .random-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 600px;
    height: 260px;
    border: 2px solid rgba(161, 144, 144, 0.473);
    margin: 1em;
}

.main-container__section, .random-container__section {
    flex-basis: 1;
    width: 98px;
    height: 100%;
    border: 1px solid rgba(128, 128, 128, 0.123);    
}

.image-container {
    width: 98px;
    height: 100%;
    text-align: center;
}


.image-container img {
    width: 100%;
    height: 100%;
}

button {
    margin: 1em;
    padding: 1em;
    color: whitesmoke;
    background-color: rgba(230, 36, 36, 0.884);
    border: 1px solid  rgba(230, 36, 36, 0.884);
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    background-color: rgba(230, 36, 36, 0.192);
}

.red, .green {
    margin-left: 2em;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.red {
    color: rgba(228, 39, 39, 0.914);
}

.green {
    color: rgba(15, 152, 15, 0.848);
}