* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 4096px;
    background-color: antiquewhite;
}

footer {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: cornsilk;
}

.loader {
    width: 60%;
    height: 100%;
    background-color: turquoise;
}