* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 95%;
    margin: 0 auto;
}

header {   
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #88c1d0;
    padding: 1em 0;
    height: 60px;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    width: 50%;
    margin-right: 7%;    
} 

header ul li {
    width: 30%;
    text-align: center;
    margin-left: 0.5em; padding: 0.5em;
    background-color: #a0cdda;
}

header ul li a {
    text-decoration: none;
    width: 100%;
}

.main {
    width: 95%;
    padding: 2em 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

section {
    background-color: #88c1d0;
    width: 23%;
    height: 20vh;
    margin: 0.5em;
}

.burger {
    width: 1.5em; height: 1.5em;   
    background-color: #75bacd;    
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    display: none;
    cursor: pointer;
}

.burger span {
    display: block;
    width: 100%; height: 5px;
    background-color: whitesmoke;
    
}

@media (min-width: 768px) and (max-width: 1499px) {
    .main {
        flex-wrap: wrap;
    }

    section {
        width: 45%;
    }

    header ul {
        display: flex;
    }
}

@media (max-width: 767px) {
    .main {
        flex-wrap: wrap;
    }

    header {
        justify-content: flex-start;
        padding: 1em 3em;        
    }

    header ul {
        width: 85%;
        display: none;
    }

    .burger {
        display: flex;
    }

    section {
        width: 80%;
    }


}