* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
}

.main {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

section {
    background-color: #88c1d0;
    width: 23%;
    height: 20vh;
    margin: 0.5em;
}

@media (min-width: 768px) and (max-width: 1499px) {
    .main {
        flex-wrap: wrap;
    }

    section {
        width: 45%;
    }
}

@media (max-width: 767px) {
    .main {
        flex-wrap: wrap;
    }

    section {
        width: 80%;
    }
}